<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Sip Domofone</title>
</head>
<body>
<p> You are login! {{greeting_message}}</p>
<p> Now you may:</p>
<ul>
{% if api_user %}
<li><a href="/api/" title="Апишка-Апишечка">API</a></li>
{% endif %}

<li><a href="/logout/" title="выйти">Выйти</a></li>
</ul>
    {#<a href="/logout/" title="выйти"><i class="fa fa-sign-out"></i></a>#}
</body>
</html>